.dashboard-container
  position absolute
  top $header-height
  left 0
  right 0
  bottom 0

.loading-message ~ .dashboard-container
  // z-index hides the container, but still renders it so that visualizations
  // have the appropriate size.
  z-index -1

.loading-message
  padding 50px
  z-index 100
  background rgba(255,255,255,.85)
  position absolute
  top $header-height
  left 0
  right 0
  bottom 0

  h1
    position relative
    left 100px
    top -90px

  .spinner-container
    position relative
    left 0
    top 0
    width 50px
    height 100px

.feature-section--header
.panel-header
  position relative
  padding 10px 8px
  background-color $primary-muted
  border-bottom 1px solid $primary-border
  font-weight 700
  h4
    font-weight bold
    margin 0
    transition 'font-size' .1s ease-in-out

.panel-header
  position absolute
  display flex
  align-items center
  min-height 50px
  display flex
  align-items center
  width $left-pane-width-small
  min-height 50px
  border-right 2px solid #CCC
  transition $transition-time ease-in-out
  z-index 10
  font-size 16px
  +above(3)
    width $left-pane-width
  h4
    font-size 15px
    padding-right 30px
    +above(3)
      font-size 16px
  &.closed
    width 200px
    h4
      font-size 14px
  &.side-bar-toggle
    cursor pointer
    &:hover
      background darken($primary-muted, 5%)

.feature-section--header
  clear both
  margin-bottom 1em
  cursor pointer
  background-color #f9f9f9
  border-bottom-color darken(@background-color, 15%)
  margin-left -5px
  margin-right -5px
  h4
    font-size 14px
  +above(3)
    margin-left -20px
    margin-right -20px
  &:hover
    background-color $primary-muted
    color black

.toggle-icon
  position absolute
  right 0
  top 0
  bottom 0
  width 50px
  display flex
  align-items center
  justify-content center
  font-size 1.5em
  color #444
  cursor pointer
  &:hover
    color black
    font-size 1.65em

.left-panel
  position absolute
  margin 0
  border-right 2px solid #CCC
  background-color #FFF
  overflow-x scroll
  -ms-overflow-style -ms-autohiding-scrollbar
  padding 0 5px
  width $left-pane-width-small
  top 50px
  bottom 0
  transition $transition-time ease-in-out
  opacity 1
  +above(3)
    width $left-pane-width
    padding 0 20px
  &.closed
    transform translate(-1 * $left-pane-width-small, 0)
    opacity 0
    +above(3)
      transform translate(-1 * $left-pane-width, 0)

  .btn-group .btn
    margin-bottom 10px
    +below(3)
      display block
      width 95%
      margin-left auto
      margin-right auto
      margin-bottom .5em
      border-radius 4px !important //Overide the btn-group bootstrap styles
  h6
    font-size 15px


.left-panel
  .table
    width $left-pane-width-small - 2
    max-width $left-pane-width-small - 2
    margin-left -5px
    margin-right -5px
    font-size 13px
    +above(3)
      width $left-pane-width - 2
      max-width $left-pane-width - 2
      margin-left -20px
      margin-right -20px
    tr
      cursor pointer
      &.selected
        td
          &:first-of-type
            background darken(#f9f9f9, 2%)
      +below(3)
        background-color white !important // Overide styles applied by reactive table
        border-bottom 2px solid #CCC
      td
        max-width 32%
        +above(3)
          &:first-of-type
            padding-left 15px
          &:last-of-type
            padding-right 15px
        +below(3)
          border 0
          max-width 100%
          display flex
          align-items center
          padding-top 5px
          padding-bottom 5px
          padding-right 15px
          padding-left 15px
          > span
            display block
          &:before
            margin-right 1em
          &:first-of-type
            padding 10px
            border-bottom 1px solid #CCC
          &:nth-of-type(2):before
            content 'Confidence'
          &:nth-of-type(3):before
            content 'Characteristics'
        +below(2)
          align-items flex-start
          flex-direction column
          &:before
            margin-bottom 3px
        &:first-of-type
          > span
            font-weight bold
    th
      &:first-of-type
        padding-left 15px
      &:last-of-type
        padding-right 15px

.symptom-table
  .reactive-table-options
    display none
  .table
    +below(4)
      width 100%
      thead
        display none
    tr
      +below(4)
        background none !important // Override srtiped styling
        &:hover
          background none
      td
        +below(4)
          display flex
          align-items center
          justify-content flex-start
          &:first-of-type
            font-weight bold
            &:before
              content ''
              display none
          &:before
            flex 1
            content attr(class)
            text-transform capitalize
          span
            flex 4

.feature-section
.keypoints
  padding-bottom 10px

  .label
    float left
    margin 1px 5px 8px
    cursor pointer
    font-size 1em
    font-weight normal
    padding 7px 10px
    letter-spacing .03em
    text-shadow none
    box-shadow 0 1px 1px rgba(255,255,255,0)
    -webkit-font-smoothing subpixel-antialiased
    &:hover
      box-shadow 0px 0px 0px 2px rgba(100,100,100,.5)
      +below(3)
        box-shadow 0px 0px 0px 1px rgba(100,100,100,.5)
    +below(3)
      font-size .85em
      padding 5px 8px

  .label.selected
    box-shadow 0px 0px 0px 2px rgba(100,100,100,.9)
    +below(3)
      box-shadow 0px 0px 0px 1px rgba(100,100,100,.9)

.features
  margin 25px 0 70px 0

.keypoint
  background-color darkgoldenrod
  color white
  border-radius 4px
  margin 5px
  padding 5px

.keypoint.selected
  background-color goldenrod

.keywords
  span
    display inline-block
    min-height 15px
    min-width 5px
    margin-right 5px
    border-radius 1px
    +above(3)
      min-height 20px

.find-btns
  margin-top 20px
  margin-bottom 20px
  a
    margin-top 10px
    display block
    &:first-of-type
      margin 0

#choose-view
  li
    text-transform capitalize
    color #555
    cursor pointer
    &:last-of-type
      border-right 0
    &:hover
      background darken($primary-muted, 5%)
    &.selected
      background-color darken($primary-muted, 10%)
      color #333
    .fa
      padding-right 10px
    +below(850px)
      flex-direction column
      text-align center
      .fa
        font-size 1em
        padding 0
        margin-bottom .2em
      span
        font-size .75em
        line-height 1em
    +below(650px)
      span
        display none
      .fa
        font-size 1.25em
        margin 0

.text-container
.symptom-container
.timeline-container
  padding-top 50px

.text-container
  padding-bottom 100px

.map-container
  position absolute
  top 40px
  bottom 0
  left 0
  right 0

.text-options
  text-align center
  font-size 12px
  a
    cursor pointer
    color $primary
    &:hover
      text-decoration none
      color $confirm

.secondary-actions
  display flex
  align-items center
  justify-content center
  margin 10px 0
  a
    color #CCC
    font-size 1.5em
    margin 0 .75em
    i
      cursor pointer
