.dashboard-container
  display flex
  flex-direction row
  align-items top
  justify-content flex-end

.diagnosis
  flex 0 0 350px
  background-color gainsboro
  color black
  border-top 1px solid black
  border-bottom 2px solid gainsboro
  border-right 2px solid black
  overflow auto

  .reactive-table tr
    cursor pointer

  .features .label
    float left
    padding 3px
    margin 5px

.pane-container
  flex 1 1 auto
  display flex
  flex-direction row
  align-items left
  flex-wrap wrap

.pane
  flex 0 1 auto
  width 50%
  background-color white
  color black
  border 1px solid black
  overflow auto

.pane.minimized
  width 33%

.pane.maximized
  width 100%
  order -1
