.dashboard-container
  display flex
  flex-direction row
  align-items top
  justify-content flex-end
  top: 62px
  bottom: 0
  right: 0
  left: 0
  position: absolute

.loading-message ~ .dashboard-container
  // z-index hides the container, but still renders it so that visualizations 
  // have the appropriate size.
  z-index -1

.loading-message
  padding 50px
  z-index 100
  background black
  position absolute
  top 62px
  left 0
  right 0
  bottom 0

  h1
    position relative
    left 100px
    top -90px

  .spinner-container
    position relative
    left 0
    top 0
    width 50px
    height 100px

.left-panel
  margin: 0;
  border-right: 2px solid black;
  flex 0 0 340px
  background-color gainsboro
  color black
  overflow auto
  // Vertical padding will break the code that positions the panes
  padding 0 5px

  .reactive-table tr
    cursor pointer

  h4
    padding 10px 8px
    clear both
    background-color #eee
    margin-left -5px
    margin-right -5px
    cursor pointer

.feature-section, .keypoints
  padding-bottom 40px

  .label
    background-color #444
    float left
    margin 1px 5px 8px
    cursor pointer
    font-size 1.2em
    padding 0
    font-weight normal

  .label.selected
    box-shadow 0px 0px 0px 2px #555

.keypoint
  background-color darkgoldenrod
  color white
  border-radius 4px
  margin 5px
  padding 5px

.keypoint.selected
  background-color goldenrod
