.dashboard-container
  display flex
  flex-direction row
  align-items top
  justify-content flex-end

.diagnosis
  flex 0 0 350px
  background-color gainsboro
  color black
  border-top 1px solid black
  border-bottom 2px solid gainsboro
  border-right 2px solid black
  overflow auto

  .reactive-table tr
    cursor pointer

.feature-section
  padding-bottom 40px

  h4
    padding 10px 3px
    clear both

  .label
    background-color #444
    float left
    padding 3px
    margin 0px 5px

.pane-container
  flex 1 1 auto
  display flex
  flex-direction row
  align-items left
  flex-wrap wrap

.pane
  flex 0 1 auto
  background-color white
  color black
  border 1px solid black
  overflow auto


.pane.maximized
  order -1

.pane.minimized > div
  pointer-events none

navbar-height = 65px

.controls
  position absolute
  top 0
  right 0
.nav-btn
  background-color #111
  border 1px solid #555
  display inline-block
  margin-right 2px
  padding 5px
  font-weight bold
  width 160px
  height navbar-height - 2
  text-align center
  vertical-align top
  color #eee
.nav-btn:hover
  background-color #444
  text-decoration none
  color white
  div
    border-color white

.reset-panels
  padding 2px
  width navbar-height - 2
  line-height 0
  div
    display inline-block
    border 1px solid #eee
    margin 1px
    width ((navbar-height - 2) / 2) - 6
    height ((navbar-height - 2) / 2) - 6
  