.feedback
  h2
    margin 0
    font-weight 700
  h3
    margin 0 0 5px 0
    font-weight 700
    font-size 1.1em

  textarea
    min-height 100px

  .form-group
    margin-bottom 20px
    &:last-of-type
      margin-bottom 0
    .form-control
      &.with-btn
        +below(2)
          width 90%
          float left
          margin-right 1em

  textarea
    margin-bottom 30px

  label
    margin-bottom 5px

  .control-label
    font-weight normal

  .form-buttons
    width 100%

  button[type=submit]
    min-width 25%

  .disease-list
    margin 0 -5px 0 -5px
    display flex
    flex-flow row wrap

  .disease-list-item
    display inline-block
    flex 1 50%
    flex-grow 0
    padding 0 10px
    margin-bottom 10px
    font-size .95em
    label
      color #444
      &:last-of-type
        +below(2)
          display block
          margin-left 0

  .disease-button-container
    padding-left 0

  .remove-disease
  .add-disease
    pointer()
    font-size 1.5em
    color $blue
    padding-top .3em
    &[disabled]
      cursor not-allowed

  .remove-disease
    color $delete

  .added-disease
    margin-bottom 10px
