.header
  background lighten(#EEE, 10%)
  min-height $header-height
  position relative
  border-bottom 2px solid #CCC
  z-index 1000
  min-height 50px

.branding-action
  float left
  margin-top 6px

.logo
  margin-left 15px
  display inline-block
  vertical-align middle
  a
    &:hover
    &:active
    &:focus
      text-decoration none
  h1
  h2
    display inline-block
    vertical-align middle
    margin 0
  h1
    bg('../../images/logo', 'png', 53px, 35px)
  h2
    font-size 11px
    padding-left 10px
    color #999

.action-call
  display inline-block
  vertical-align middle
  margin-left 25px
  .btn
    background-color desaturate(lighten($confirm, 80%),30%)
    border-color desaturate(lighten($confirm, 50%),30%)
    color #777
    text-shadow 0 1px 0 rgba(255,255,255,.2)
    padding 5px 12px
    font-size 13px
    i
      margin-right 5px
    &:hover
      background-color desaturate(lighten($confirm, 60%),30%)
      color darken($confirm, 90%)

.navbar-nav
  margin 0

.nav
  &.nav-main
    float right
  li
    a
      border-left 1px solid #CCC
      display inline-block
      text-align center
      color #666
      padding 14px 15px
      i
        padding-right 4px
      &:hover
        background-color lighten($primary-muted-dark, 50%)
        text-decoration none
        color #333

.hide-md
  display inline-block

.navbar-toggle
  font-size 1.5em
  position absolute
  right 5px
  margin-bottom 0
  margin-top 0

+below(768px)
  .bsve
    .hide-md
      display none
    .navbar-toggle
      display none
    .navbar-header
      float left
    .navbar-collapse
      padding-right 0
      &.collapse
        display block !important
    .navbar-nav
      float right !important
      & > li
        float left
    .collapse
      z-index 10000
      visibility visible
      &.in
        display block !important
    .navbar-left
      float left
    .navbar-right
      float right

  body:not(.bsve)
    .navbar-header
      min-height 50px
    .nav
      &.navbar-nav
        float none
        margin-left -15px
        margin-right -15px
        border-top 1px solid #CCC
        > li > a
          display block
          text-align left
          border-bottom 1px solid lighten(#CCC, 20%)

+below(600px)
  .bsve
    .hide-md
      display inline-block
    .navbar-header
      float none
      min-height 50px
    .navbar-toggle
      display block
    .navbar-collapse
      border-top 1px solid #CCC
      box-shadow inset 0 1px 0 rgba(255,255,255,0.1)
      &.collapse
        display none !important
    .navbar-fixed-top
      top 0
      border-width 0 0 1px
    .navbar-nav
      float none !important
      margin-top 7.5px
      > li
        float none
        > a
          border-left 0
          border-bottom 1px solid lighten(#ccc, 20%)
          padding-top 10px
          padding-bottom 10px
    .collapse
      &.in
        display block !important

    .navbar-left
    .navbar-right
      float none !important

  .nav
    &.navbar-nav
      float none
      margin-left -15px
      margin-right -15px
      margin-top 0
      > li > a
        display block
        text-align left
        border-bottom 1px solid lighten(#CCC, 20%)
