.header
  background #F9F9F9
  min-height $header-height
  position relative
  border-bottom 2px solid #CCC
  overflow hidden

.logo
  margin-left 15px
  margin-top 10px
  float left
  a
    &:hover
    &:active
    &:focus
      text-decoration none
  h1
  h2
    display inline-block
    vertical-align middle
    margin 0
  h1
    bg('../../images/logo', 'png', 74px, 48px)
  h2
    font-size 12px
    padding-left 10px
    color #999

.navbar-nav
  margin 0

.nav
  &.nav-main
    float right
  li
    a
      border-left 1px solid #CCC
      display inline-block
      text-align center
      color #666
      padding 25px 15px
      background-color $primary-muted
      transition background-color .2s ease-in-out
      i
        padding-right 4px
      &:hover
        background-color $header-highlight
        text-decoration none

