body
  background-color $background-color
  color #333

.pane-container
  flex 1 1 auto
  display flex
  flex-direction column

.vis-pane-bar
  flex 0 0 auto
  background-color $primary-muted
  color black
  width 100%
  border-bottom 1px solid darken($primary-muted, 20%)
  position relative
  z-index 99

.vis-pane
  flex 1 1 auto
  overflow auto
  position relative
