body
  background-color #FFF
  color #333
  text-shadow 0 1px 0 rgba(255,255,255,.4)

.pane-container
  position absolute
  left 350px
  right 0
  top 0
  bottom 0
  overflow scroll

.vis-pane-bar
  background-color $primary-muted
  color black
  width 100%
  border-bottom 1px solid darken($primary-muted, 20%)
  position relative
  z-index 99

.vis-pane
  overflow auto
  position relative
  padding-bottom 100px

.search
  .vis-pane-bar
  .vis-pane
    padding 15px
