body
  background-color black
  color #eeeeee

.header
  padding-left 60px
  background-image url(images/grits.png)
  background-repeat no-repeat
  background-size 45px 45px
  background-position 0px -10px

  a
    color #eeeeee
