body
  background-color #FFF
  color #333
  text-shadow 0 1px 0 rgba(255,255,255,.4)

.pane-container
  position absolute
  left $left-pane-width-small
  right 0
  top 0
  bottom 0
  overflow auto
  transition $transition-time ease-in-out
  margin-left 0
  +above(3)
    left $left-pane-width
  &.full-width
    left 0

.vis-pane-bar
  background-color $primary-muted
  color black
  width 'calc(100% - %s)' % $left-pane-width-small
  border-bottom 1px solid $primary-border
  position relative
  z-index 99
  left $left-pane-width-small
  transition $transition-time ease-in-out
  +above(3)
    left $left-pane-width
    width 'calc(100% - %s)' % $left-pane-width
  &.full-width
    left $closed-sidebar-toggle-width
    width 'calc(100% - %s)' % $left-pane-width-small

.vis-pane
  overflow auto
  position absolute
  bottom 0
  top 0
  width 100%

.search
  .vis-pane-bar
    overflow-x hidden
    text-overflow ellipsis
    white-space nowrap
  .vis-pane
    top 34px
  .vis-pane-bar
  .vis-pane
    padding 15px

.tabs
  display flex
  min-height 50px - 1
  align-items stretch
  margin 0
  padding 0
  transition width $transition-time ease-in-out
  transition-delay $transition-time - .2
  li
    border-right 1px solid lighten($primary-border, 20%)
    flex 1
    display flex
    align-items center
    justify-content center
    padding 0 .5em
  .side-bar-toggle
    font-weight bold
    font-size 20px
    flex 0
