body
  background-color black
  color #eeeeee

.header
  padding-left 60px
  background-image url(../../images/grits.png)
  background-repeat no-repeat
  background-size 45px 45px
  background-position 0px -8px
  width 350px
  display inline-block
  font-weight bolder
  margin-left 10px
  margin-top 14px
  a
    text-decoration none
  .logo-container
    margin-top -5px
  .main
    letter-spacing 35px
    color #eeeeee
  .subheading
    font-size 12px
    color #d3bc5f

navbar-height = 65px

.controls
  position absolute
  top 0
  right 0
  margin 0px
.nav-btn
  background-color #111
  border-left 1px solid #666
  display inline-block
  padding-top 13px
  font-weight bold
  width 120px
  height navbar-height - 2
  text-align center
  vertical-align top
  color #eee
  p
    margin-top 5px
    font-size 80%
    white-space nowrap
    text-overflow ellipsis
  i
    font-size 120%

.nav-btn:hover
  background-color #444
  text-decoration none
  color white
  div
    border-color white

.pane-container
  flex 1 1 auto
  display flex
  flex-direction column

.vis-pane-bar
  flex 0 0 auto
  background-color beige
  color black
  width 100%
  padding 4px
  box-shadow 1px 1px 1px rgba(0, 0, 0, 0.4)
  position relative
  z-index 99

.vis-pane
  flex 1 1 auto
  background-color white
  color black
  overflow auto
  position relative