body
  background-color #f9f9f9
  color #333

.pane-container
  flex 1 1 auto
  display flex
  flex-direction column

.vis-pane-bar
  flex 0 0 auto
  background-color beige
  color black
  width 100%
  padding 4px
  box-shadow 1px 1px 1px rgba(0, 0, 0, 0.4)
  position relative
  z-index 99

.vis-pane
  flex 1 1 auto
  background-color white
  color black
  overflow auto
  position relative
