@import 'mixins.import'

$left-pane-width    = 350px
$background-color   = #f9f9f9
$header-height      = 50px
$primary            = #2B9DA1
$primary-muted      = muteColor($primary)
$primary-muted-dark = darken(muteColor($primary), 20%)
$confirm            = #4CBB43
$header-highlight   = $primary-muted
$delete             = rgba(219, 82, 75, 1)
$blue               = rgba(86, 192, 224, 1)
$border-color       = $background-color

body
  font-family 'Open Sans', sans-serif

.btn-default
  background $background-color

.btn-plain
  border 0
  background none
  padding 0

.modal
  box-shadow 0 0 5px rgba(0,0,0,.5)
  border-radius 3px
  z-index 1000

.curtain
  cover()
  background rgba(0,0,0,.8)
  z-index 100

.font-awesome
  font-family FontAwesome
  -webkit-font-smoothing antialiased

.jumbotron
  background none

.space-btn-1
  margin-bottom 10px

.no-margin
  margin 0 !important

label
  .info
    display block
    font-size 90%
    font-weight normal
    color lighten(#333, 10%)
    margin-bottom 10px

@import 'loading.import'
@import 'accounts.import'
@import 'correlation.import'
@import 'dash.import'
@import 'dendrogram.import'
@import 'feedback.import'
@import 'geomap.import'
@import 'graph.import'
@import 'header.import'
@import 'layout.import'
@import 'misc.import'
@import 'new.import'
@import 'profile.import'
@import 'search.import'
@import 'splash.import'
@import 'text.import'
@import 'timeline.import'
@import 'map.import'
