.doc-container
  background white
  padding .5em 1em
  color black

.doc-content
  max-width 800px
  margin auto

.symptom-table .info
  clear both
  width 50%
  min-width 400px
  max-width 600px
  margin auto
  border 1px solid #CCC
  padding 1em
  color #999
  border-radius 3px
