.doc-container
  background white
  padding .5em 1em
  color black
  
.doc-content
  max-width 600px
  margin auto
  
.symptom-table .info
  max-width 500px
  margin auto
  border 1px solid gray
  padding 1em