.modal
  z-index 1000000

.modal-header
  position relative

.modal-content
  border-radius 4px

.modal-body
  padding 20px

.modal-header
  background $primary-muted
  border-top-left-radius 4px
  border-top-right-radius 4px

.modal-footer
  border 0
  padding 20px 20px 40px 20px

.close-modal
  position absolute
  right 1em
  top .75em
  cursor pointer
  color $m-gray
  padding .25em
  &:hover
    color $secondary-dark
  &::before
    font-family FontAwesome
    content '\f057'
    font-size 1.65em
