$gray-BG = #F0F0F0
$border-color = #DDDDDD

.submit-page
  margin-top 20px
  margin-bottom 20px

#submit-text
  margin-bottom 20px
  min-height 400px
  @media (max-height:700px)
    min-height 210px

.tab-content
  margin-bottom 20px
  padding 50px
  background $gray-BG
  border 1px solid $border-color
  border-top 0
  border-bottom-right-radius 4px
  border-bottom-left-radius 4px
  textarea
    margin-bottom 0
    max-height 300px
    max-width 100%

.nav-tabs
  > li
    margin-bottom -1px
    > a
      padding-left 25px
      padding-right 25px
      border 1px solid transparent
      border-bottom 0
      font-weight bold
      color #888
      transition .2s ease-in-out
    &.active
      > a
      > a:hover
      > a:focus
        background-color $gray-BG
        border-color $border-color
        border-bottom 0
        color #333
        padding-left 50px
        padding-right 50px

.upload-menu
  li
    margin-right 10px
    > a
      border-color transparent

#submit-button
  padding 10px
