
.pane-container
  flex 1 1 auto
  display flex
  flex-direction row
  align-items left
  flex-wrap wrap

.pane
  flex 0 1 auto
  background-color white
  color black
  border 1px solid black
  overflow auto


.pane.maximized
  order -1

.pane.minimized > div
  pointer-events none
