.user-info
  margin 10px 50px

.dashboard-list
  margin 20px 50px

  .reactive-table
    tr
      cursor pointer
    .sortable
      color #eee

  .table-striped > tbody > tr:nth-child(odd) > td
    background-color #333

  .table-striped.table-hover > tbody > tr:hover > td
    background-color #555
