.sp-categories
    display inline-block
    max-width 180px
    margin-left 10px
    white-space nowrap
    overflow hidden
.sp-category
    color blue
    font-size 10pt
    
.sp-label
    display inline-block

.search-result
    padding 2px

.search-result:nth-child(2n)
    background-color #eee

.search-results
    padding 0px 5px

.title-link
    display block
    font-weight bold

.disease-list span:after
    content ", "
    font-weight bold
    color #112

.disease-list span:last-child:after
    content ""
