.sp-categories
    display inline-block
    max-width 180px
    margin-left 10px
    white-space nowrap
    overflow hidden
.sp-category
    color blue
    font-size 10pt
    
.sp-label
    display inline-block

.search-result
    padding 2px

.search-result:nth-child(2n)
    background-color #eee

.search-results
    padding 0px 5px

.title-link
    display block
    font-weight bold

.inline-list span:after
    content ", "
    font-weight bold
    color #112

.inline-list span:last-child:after
    content ""

.truncated-list span
    display none

.truncated-list
    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3),
    span:nth-child(4)
        display inline

.truncated-list span:nth-child(4):after
    content "..."
    
.date-selector[type="date"]
    font-weight normal
    line-height 1em

.date-label
    min-width 3em
    display inline-block

.document-count
    background-color #eee
    margin 4px
    border 2px solid #eee
    position relative

.count-bar
    position absolute
    background-color lightblue
    top 0px
    left 0px
    bottom 0px

.count-text
    position relative
    text-align center
