.sp-categories
    display inline-block
    max-width 180px
    margin-left 10px
    white-space nowrap
    overflow hidden
.sp-category
    color blue
    font-size 10pt
    
.sp-label
    display inline-block