.brand
  .splash-logo
    display block
    bg('../../images/logo-large', 'png', 500px, 326px)
    margin 50px auto 20px auto
  h2
    text-align center
    color #444

.about
  padding 50px
  white-space nowrap
  text-align center

  a
    background-color white
    height 200px
    padding 50px 0px
    margin 0px 5px

  .secondary
    a
      opacity .6
      transition opacity .2s ease-in-out
      &:hover
        opacity 1

.eha-logo
  margin 20px auto 30px auto
  bg('../../images/eha-logo', 'png', 350px, 89px)

