+below(3)
  thead
    tr
      position absolute
      top -9999px
      left -9999px
  tr
    border 1px solid #ccc
  td
    border none
    position relative
    padding-left 50%
    display block
    background-color none

  .reactive-table-options
    display none
