#text .label
  font-size 1em
  padding 0
  font-weight normal
  white-space normal

#text
  white-space pre-wrap

#text.paper
  margin 2px auto
  background-color white
  max-width 50em
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding 1em 3em
