#text .label
  font-size 1em
  padding 0
  font-weight normal
  white-space normal

#text
  white-space pre-wrap

#text
  &.paper
    margin 0 auto 20px auto
    background-color white
    max-width 50em
    box-shadow 0px 0px 10px rgba(100,100,100,0.2)
    padding 2em 3em 3em
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px
    line-height 1.6em
  .label
    padding 0
    margin 0
    font-size 1em
    font-weight normal
    white-space normal
    text-shadow 0 1px rgba(100,100,100,.2)
    border-radius .1em
