.histogram .axis path, .histogram .axis line
  stroke black
  stroke-width 1
  fill none
  shape-rendering crispEdges
#timeline
  width 100%
  height 100%

.histogram .plot .boxes
  stroke: black
  stroke-width 1
  fill steelblue

.histogram .plot .boxes.selected
  fill firebrick
