.timeline .axis path, .timeline .axis line
  stroke black
  stroke-width 1
  fill none
  shape-rendering crispEdges
#timeline
  width 100%
  height 100%

.timeline .plot path
  stroke: steelblue
  stroke-width 1
  fill none
