$left-pane-width    = 350px
$background-color   = #f9f9f9
$header-height      = 50px
$primary            = #2B9DA1
$primary-muted      = muteColor($primary)
$primary-muted-dark = darken(muteColor($primary), 20%)
$confirm            = #4CBB43
$header-highlight   = $primary-muted
$delete             = rgba(219, 82, 75, 1)
$blue               = rgba(86, 192, 224, 1)
$border-color       = $background-color
