// Rupture Scale (Follows Bootstrap)
rupture.scale = 0        480px        768px      992px      1200px
//              └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘└────┬────┘
//                   1           2           3           4          5
