template(name="dash")
  .dashboard-container
    .diagnosis
      p Diagnosis
    .pane-container
      .pane
        +graph
      .pane
        +table
      .pane
        +dendrogram
      .pane Pane 4
