template(name="eidrResultList")
  .search-results-list
    h4 Search Results:
    each results
      div(class="search-result")
        div
          a(href="{{eidrUrl}}/event/#{id}", target="_blank") #{name}
    else
      p No Results Found
