template(name="feedback")
  form.feedback(style="display:none; overflow:scroll;")
    .form-group
      each diseases
        label Disease: {{name}}
        .correct-question
          label.control-label(for="{{name}}-correct") Was this diagnosis correct?
          | &nbsp;
          input.correct(type="radio" name="{{name}}-correct" value="true")
          | Yes
          | &nbsp;
          input.correct(type="radio" name="{{name}}-correct" value="false")
          | No
      label.control-label Please add any missing diseases:
      div
        each missingDiseases
          div
            input(readonly=readonly value="{{name}}") 
            i.fa.fa-times-circle(data-name="{{name}}" class="remove-disease" style="color:crimson;")
      +inputAutocomplete settings=diseaseCompleteSettings id="new-disease" name="missing_diseases" class="input-xlarge"
      button(id="add-disease" type="button") Add
      br
      label.control-label(for="comments") Diagnosis Comments:
      textarea.form-control(name="comments")
      label.control-label(for="general_comments") General Dashboard Feedback:
      textarea.form-control(name="general_comments")
      p
      button.btn.btn-primary.submit-feedback(type="button") Submit
      span &nbsp;
      button.btn.btn-danger.close-feedback(type="button") Cancel
