template(name="feedback")
  .modal.fade.feedback(id="feedback-modal" tabindex="-1" role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          h2 Feedback
        form.feedback
          .modal-body
            .form-group
              label.no-margin Disease Diagnosis Confirmation
                span.info Let us know if each disease diagnosis is correct or incorrect.
              .disease-list
                each diseases
                  .disease-list-item
                    label=name
                    .correct-question
                      label.radio-inline
                        input.correct(type="radio" name="{{name}}-correct" value="true")
                        | Correct
                      label.radio-inline
                        input.correct(type="radio" name="{{name}}-correct" value="false")
                        | Incorrect

            .form-group
              label Please add any missing diseases:
              div
                each missingDiseases
                  .row.added-disease
                    .col-sm-8
                      input.form-control(readonly=readonly value="{{name}}" disabled)
                    .col-sm-1.disease-button-container
                      i.fa.fa-times-circle.remove-disease(data-name="{{name}}")
              .row
                .col-sm-8
                  +inputAutocomplete settings=diseaseCompleteSettings id="new-disease" name="missing_diseases" class="form-control"
                .col-sm-1.disease-button-container
                  i.fa.fa-plus-circle.add-disease(id="add-disease" type="button" class="btn-plain btn" disabled="{{#unless addDiseaseEnabled}} disabled {{/unless}}")

            .form-group
              label(for="comments") Diagnosis Comments:
              textarea.form-control(name="comments")

            .form-group
              label(for="general_comments") General Dashboard Feedback:
              textarea.form-control.no-margin(name="general_comments")

          .modal-footer
            .form-buttons.pull-right
              button.btn.btn-default.close-feedback(type="button") Cancel
              button.btn.btn-primary.submit-feedback(type="submit") Submit
