template(name="header")
  .header
    header.clearfix
      .branding-action
        .logo
          if bsveApp
            a
              h1 GRITS
              h2 Global Rapid #[br] Identification #[br] Tool System
          else
            a(href="/")
              h1 GRITS
              h2 Global Rapid #[br] Identification #[br] Tool System
        unless bsveApp
          if currentUser
            .action-call
              a.btn.btn-primary(href="/new")
                i.fa.fa-file-text-o
                span New Diagnosis
      nav
        ul.nav.navbar-nav.nav-main
          unless bsveApp
            if currentUser
              li.profile
                a(href="/profile")
                  i.fa.fa-list
                  span Articles
              +helpLink
              li
                a.sign-out(href="/sign-out")
                  i.fa.fa-sign-out.sign-out
                  span Sign Out
            else
              li
                a(href="/sign-in")
                  i.fa.fa-sign-in.sign-in
                  span Sign In / Register
          else
            unless hideBackButton
              li
                a.back(href="#")
                  i.fa.fa-arrow-left
                  span Back
            +helpLink

template(name="helpLink")
  li
    a(href=helpLinkHref)
      i.fa.fa-question
      span Help
