template(name="header")
  .header
    header.clearfix
      .logo
        a(href="/")
          h1 GRITS
          h2 Global Rapid #[br] Identification Tool #[br] System
      nav
        ul.nav.navbar-nav.nav-main
          li
            a.back(href="#")
              i.fa.fa-arrow-left
              span Back
          li
            a(href="/help")
              i.fa.fa-question
              span Help
