head
  title GRITS Diagnostic Dashboard

template(name="layout")
  h2.header
    a(href="/") GRITS
  h4.controls
    a.nav-btn(href="https://grits.ecohealth.io/gritsdb")
      //I would use fa-database but it's not working.
      i.fa.fa-hdd-o
      p Girder DB
    a.nav-btn(href="/new")
      i.fa.fa-file-text-o.fa-file-text-o-large
      p Diagnose New Article
    if isDashboard
      .nav-btn.reset-panels
        i.fa.fa-th-large.fa-th-large
        p Reset Panels
  +yield
