template(name="new")
  .container
    .row
      .submit-page.col-sm-10.col-sm-offset-1
        ul.nav.nav-tabs.upload-menu
          li.active
            a(href='#copy', data-toggle='tab' data-source='text')
              i.fa.fa-file-text-o
              | Copy &amp; Paste
          li
            a(href='#web', data-toggle='tab' data-source='url')
              i.fa.fa-link
              | From the web

        .tab-content
          #copy.tab-pane.fade.in.active
            textarea.form-control.submit-text#submit-text(placeholder="Paste text here")
          #web.tab-pane.fade
            .input-group
              .input-group-addon
                | http://
              input.form-control.submit-url#submit-url(type="text", placeholder="Paste URL here")

        .row
          .col-sm-3.col-sm-offset-9
            button.btn.btn-large.btn-primary.btn-block.pull-right#submit-button(disabled)
              | Diagnose
