template(name="search")
  div(style="display:none") #{updatePanes}
  .dashboard-container
    .left-panel
      h3 Search
      h4 Diseases
      each diseasesSelected
        div
          i.fa.fa-times-circle(data-name="{{name}}" class="remove-disease" style="color:crimson;")
          span {{name}}
      +inputAutocomplete settings=diseaseCompleteSettings id="new-disease" class="input-xlarge"
      button(id="add-disease") Add
      h4 Keywords
      each keywordsSelected
        div
          i.fa.fa-times-circle(data-name="{{name}}" class="remove-keyword" style="color:crimson;")
          span {{name}}
      +inputAutocomplete settings=keywordCompleteSettings id="new-keyword" class="input-xlarge"
      button(id="add-keyword") Add
    .pane-container
      .pane
        +geomapSimple
      .pane
        +timelineSimple
      .pane
        +dendrogram
      .pane
        +text

template(name="searchPill")
  if symptom
    span(style="color:blue;") [symptom]
  if host
    span(style="color:blue;") [host]
  span(class="label") {{name}}