template(name="splash")
  +header
  .brand
    h1.logo GRITS
    h2 Global Rapid Identification Tool System

  .about
    a(target="_blank", href="http://www.ecohealthalliance.org")
      img(src="images/logos/eha.png", alt="EHA")

    a(target="_blank", href="http://www.healthmap.org")
      img(src="images/logos/healthmap.png", alt="HealthMap")

    a(target="_blank", href="http://www.kitware.com")
      img(src="images/logos/kitware.png", alt="Kitware")

    a(target="_blank", href="http://www.promedmail.org")
      img(src="images/logos/ProMed.png", alt="ProMed")

    a(target="_blank", href="http://www.isid.org")
      img(src="images/logos/isid.gif", alt="ISID")

    a(target="_blank", href="http://www.epidemico.com")
      img(src="images/logos/epidemico.png", alt="epidemico")
