template(name="submit")
  .submit-page
    textarea#submit-text
    button.btn.btn-large.btn-primary#submit-button Diagnose
    .results
      if results
        p Diagnosis: #{results.disease}
        p Characteristics:
        each features
          p #{this}
